<!-- Missing form at top and bottom,  load this in the file where this is included-->
	<div class="form-group">

	  <label for="title" class="col-sm-2 control-label ">Title</label>
	  <div class="col-sm-10">
	    <input type="text" ng-model="recipe.recipeTitle" class="form-control  input-lg" id="title" placeholder="Recipe title Here"/>
	  </div>
	</div>
	<div class="form-group">
	  <label for="year" class="col-sm-2 control-label">Type</label>
	  <div class="col-sm-10">
	    <input type="text" ng-model="recipe.type" class="form-control" id="type" placeholder="Shake, soup or snack?"/>
	  </div>
	</div>
	<div class="form-group">
	  <label for="plot" class="col-sm-2 control-label">Description</label>
	  <div class="col-sm-10">
	  	<textarea  class="form-control" rows="6"></textarea>
	    <!--<input type="text" class="form-control" rows="3" ng-model="recipe.description" class="form-control" id="description" placeholder="Description of recipe"/>-->

	  </div>
	</div>
